bin/
obj/
.vs/Sistema de Produtos/CopilotIndices/17.14.1561.44479/CodeChunks.db
.vs/Sistema de Produtos/CopilotIndices/17.14.1561.44479/CodeChunks.db-shm
.vs/Sistema de Produtos/CopilotIndices/17.14.1561.44479/SemanticSymbols.db
.vs/Sistema de Produtos/CopilotIndices/17.14.1561.44479/SemanticSymbols.db-shm
.vs/Sistema de Produtos/CopilotIndices/17.14.1561.44479/SemanticSymbols.db-wal
.vs/Sistema de Produtos/FileContentIndex/937339ce-270e-46d2-bf94-e5187eca8534.vsidx
.vs/Sistema de Produtos/v17/.suo
.vs/Sistema de Produtos/v17/DocumentLayout.json
